body{
    background-color: #f3f3f3;
}
.cooperation-ol{
    list-style: none;
    padding-left: 0;
}
.cooperation-ol li{
    float: left;
    font:400 14px/74px '微软雅黑';
    margin-right:6px;
}
.unit-list{
    background-color: #fff;
    /*height: 600px;*/
    border-radius: 8px;
    box-shadow: 0 0 10px 10px #e4e4e4;
}
.unit-list-rowone{
    height: 96px;
    margin: 0 auto;
    width: 96.6%;
    border-bottom: 1px solid #eee;
}
.unit-list-rowone span{
    font: 400 14px/50px '微软雅黑';
    float: left;
}
.unit-list-rowone ul{
    list-style: none;
}
.unit-list-rowone li{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 6px 10px;
    color: #313131;
}
.unit-option-click{
    background-color: #015ba1;
    color: #fff !important;
    border-radius: 6px
}
.unit-list-rowtwo{
    height: 54px;
    margin: 0 auto;
    width: 96.6%;
    border-bottom: 1px solid #eee;
}
.unit-list-rowtwo a{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 6px 10px;
    color: #313131;
}

.unit-list-rowtwo span{
    font: 400 14px/50px '微软雅黑';
    float: left;
}
.unit-list-rowtwo ul{
    list-style: none;
}
/*.unit-list-rowtwo li{*/
    /*float: left;*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    /*cursor: pointer;*/
    /*padding: 6px 10px;*/
    /*color: #313131;*/
/*}*/
.unit-list-rowthree{
    margin: 0 auto;
    width: 96.6%;
}
.unit-list-rowthree span{
    width: 70px;
    float: left;
    margin-top: 14px;
    font: 400 14px/25px '微软雅黑';

}
.unit-list-rowthree ul{
    list-style: none;
}
.unit-list-rowthree li {
    float: left;
    margin-top: 10px;
    margin-left:10px;
    cursor: pointer;
    padding: 6px 10px;
    color: #313131;
}
.unit-inslist{
    height: 40px;
    background-color: #fff;
    margin-top: 20px;
    border-left: 3px solid #015ba1;
}
.unit-inslist span:nth-of-type(1){
    font: 400 18px/40px '微软雅黑';
    padding-left: 10px;
}
.unit-inslist span:nth-of-type(2){
    color: #777;
    font: 400 14px/40px '微软雅黑';
    padding-left: 25px;
}
.unit-inslist-rightbox{
    width: 210px;
    float: right;
    margin-bottom: 20px;
}
.unit-inslist-rightbox a{
    display: inline-block;
    background-color: #2d97fc;
    color: #fff;
    text-align: center;
    width: 96px;
    border-radius: 8px;
    margin-right: 6px;
    height: 30px;
    margin-top: 5px;
    font: 400 14px/30px '微软雅黑';
}
.unit-hoslist{
    background-color: #fff;
    margin-top: 20px;
    width: 900px;
    float: left;
}
.unit-hoslist-top{
    border-bottom: 1px solid #f1f1f1;
    font: 400 14px/38px '微软雅黑';
    height: 40px;
}
.unit-hoslist-top span:nth-of-type(1){
    padding-left: 90px;
}
.unit-hoslist-top span:nth-of-type(2){
    padding-left: 287px;
}
.unit-hoslist-top span:nth-of-type(3){
    padding-left: 300px;
}
.unit-hoslist-list{
    border-bottom: 1px solid #f1f1f1;
    font: 400 14px/48px '微软雅黑';
    height: 50px;
}
.unit-hoslist-list a:nth-of-type(1){
    color: #000;
    padding-left: 34px;
}
.unit-hoslist-list a:nth-of-type(1):hover{
    color: #015ba1;
}
.unit-hoslist-list span:nth-of-type(2){
    padding-left: 90px;
}
.unit-hoslist-list span:nth-of-type(3){
    padding-left: 90px;
}
.unit-pic{
    width: 280px;
    float: right;
    margin-top:5px;
}
.unit-pic img{
    margin-bottom: 20px;
}